<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{ res.name }} </mat-card-title>
      <mat-card-subtitle>{{ res.tag }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="res.logo_url" alt="Photo of a Shiba Inu">
    <mat-card-content>

      <p>Wins: <span>{{ res.wins }}</span></p>
      <p>Losses: <span>{{ res.losses }}</span></p>
      <p>Win Rate: <span>{{ 100*res.win/res.losses}} </span></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->
